@charset "UTF-8";

/* for wallpaper */
vbox{
/*    background-image: url("file:///C:/Users/amano/Desktop/KdL.jpg");*/
}

window{
/*    background-image: url("file:///C:/Users/amano/Desktop/KdL.jpg"); */
}

#wallpaper {
/*    background-position: center center; */
}

table{
    border-collapse: collapse;
}

/* テキスト範囲選択できるクラス */
.selection {
    cursor: text ! important;
    -moz-user-focus: normal;
    -moz-user-select: text;
}

.select-setlist menuitem{
    min-width: 3em;
}

.red {
    color: red;
}
.black{
    color: black;
}

a {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

toolbox{
/*    display: inline; */
}

toolbarbutton{
    vertical-align: text-top;
    margin-right: 1px;
}

/*
 * basic information
 */

