/*
 * SHIP TABLE
 */
/*
treechildren::-moz-tree-cell {
	border: 1px solid red;
}

treechildren::-moz-tree-cell-text() {
	color: blue;
}
*/

/* condition */
treechildren::-moz-tree-row(shipinfo-tree-row-cond-good) {
	border-right-color: rgb(255,237,128);
}
treechildren::-moz-tree-row(shipinfo-tree-row-cond-normal) {
	border-right-color: rgb(128,128,128);
}
treechildren::-moz-tree-row(shipinfo-tree-row-cond-hidden) {
	border-right-color: rgb(96,96,96);
}
treechildren::-moz-tree-row(shipinfo-tree-row-cond-tired) {
	border-right-color: rgb(64,64,64);
}
treechildren::-moz-tree-row(shipinfo-tree-row-cond-orange) {
	border-right-color: rgb(210,105,30);
}
treechildren::-moz-tree-row(shipinfo-tree-row-cond-red) {
	border-right-color: rgb(255,0,0);
}
treechildren::-moz-tree-row(shipinfo-tree-row-cond-none) {
	border-right-color: rgb(0,0,0);
}
/* fuel and hp */
treechildren::-moz-tree-row {
	border-right-style: dotted;
	border-right-width: 3px;
}
treechildren::-moz-tree-row(shipinfo-tree-row-fill-ok) {
	border-right-style: dotted;
	border-right-width: 5px;
}
treechildren::-moz-tree-row(shipinfo-tree-row-hp-ok) {
	border-right-style: solid;
	border-right-width: 3px;
}
treechildren::-moz-tree-row(shipinfo-tree-row-fill-ok, shipinfo-tree-row-hp-ok) {
	border-right-style: solid;
	border-right-width: 5px;
}

/* sally-area */
treechildren::-moz-tree-row(shipinfo-tree-row-sallyarea-1) {
	border-left-style: solid;
	border-left-width: 3pt;
	border-left-color: rgb(192,192,255);
}
treechildren::-moz-tree-row(shipinfo-tree-row-sallyarea-2) {
	border-left-style: solid;
	border-left-width: 3pt;
	border-left-color: rgb(255,255,192);
}
treechildren::-moz-tree-row(shipinfo-tree-row-sallyarea-3) {
	border-left-style: solid;
	border-left-width: 3pt;
	border-left-color: rgb(255,204,160);
}
treechildren::-moz-tree-row(shipinfo-tree-row-sallyarea-4) {
	border-left-style: solid;
	border-left-width: 3pt;
	border-left-color: rgb(192,255,255);
}

/* ndock */
treechildren::-moz-tree-cell-text(shipinfo-tree-row-ndock-repairing) {
	font-style: italic;
	color: rgb(32,32,32);
}

/* 火力/雷装/対空/装甲 */
treechildren::-moz-tree-cell(shipinfo-tree-cell-karyoku-full) {
	background-color: rgba(255,0,0,0.2);
}
treechildren::-moz-tree-cell(shipinfo-tree-cell-raisou-full) {
	background-color: rgba(0,0,255,0.2);
}
treechildren::-moz-tree-cell(shipinfo-tree-cell-taiku-full) {
	background-color: rgba(255,153,0,0.2);
}
treechildren::-moz-tree-cell(shipinfo-tree-cell-soukou-full) {
	background-color: rgba(255,255,0,0.2);
}

